body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  transition: background-color 0.2s ease, color 0.2s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.header-mode-switch {
  margin-left: auto;
  cursor: pointer;
}

.header > h1 {
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.header > a {
  transition: background-color 0.2s ease, color 0.2s ease;
}

.main {
  padding: 0 4rem 4rem 4rem;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  position: sticky;
  top: 0;
  transition: background-color 0.2s ease;
}

.search {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
  width: 35%;
  padding: 8px;
  border-radius: 5px;
}

.search-placeholder::placeholder {
  color:white;
}

.filter {
  margin-left: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
  width: 25%;
  padding: 8px;
  border-radius: 5px;
}

.error-loading {
  margin-top: 5rem;
  margin-left: 5rem;
}

.country {
  background-color: white;
  width: 23rem;
  height: 95%;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.country-img {
  width: 23rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.country-data {
  margin: 8px;
}

.country-data > h2 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.country-data > h4 {
  margin: 8px 0 8px 0;
}

.countries-elements {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  justify-content: center;
}

.single-country {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-left: 20%;
  margin-right: 20%;
}

.single-country-container {
  transition: background-color 0.2s ease, color 0.2s ease;
}

.modal-country-container {
  transition: background-color 0.2s ease, color 0.2s ease;
  
}

.modal-country-container > p {
  margin: 5px 0 5px 0;
}

.modal-country-container > h4 {
  margin: 7px 0 7px 0;
}

.modal-country-img {
  margin-left: 1rem;
  margin-right: 4rem;
  width: 27rem;
  height: 18rem;
}

.modal-country-name {
  margin:7px 0 7px 0;
}

.border-country-box {
  padding-left: 0;
}

.border-country-item {
  list-style: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 5px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

